
.navbutton{
    /* margin-left: -40px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    position: absolute;
    right: 1%;
  
  }
  .fa-solid{
      margin-top: 17px;
      margin-right: -85px;
  }
  .navbar{
      width: 100%;
      background-color:rgb(59, 166, 232);
     
  }
  .btn-outline-success {
      background-color: rgb(4, 125, 200);
      color: white;
      width: 80px;
      height: 40px;
      border-radius: 8px;
      border-color:rgb(4, 125, 200);
  }
  .btn-outline-success :hover{
      background-color: red;
  }
  
  .logo{
      margin-left: -70px;
      
      
  }
  
  .navcartbutton{
      margin-top: 13px;
      margin-left: 268px;
      position: absolute;
      right: 21%;
      
  }
   
  .hiredesign{
      margin-right: 16px;
  }

 .navcartcount{
    position: absolute;
    right: 299px;
    z-index: 1;
    top: 28px;
    background-color: rgb(4, 125, 200);
    /* padding: 10xp; */
    width: 21px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    right: 20%;
    cursor: pointer;
 }



 .signup:hover{
background-color: rgb(64, 168, 234);
border-color:rgb(4, 125, 200) ;
 }
