.singleCard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 39px;
    margin-right: 58px;
    margin-top: 50px;
    height: 430px;
    border: solid;
    border-radius: 25px;


}

.SingleCardImg{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-left: -124px;
   
   
}

.SingleCardPrice{
    text-align: start;
}

.Singleprice{
    font-size: 25px;
}

.SingleCardDetails{
    margin-right: 20px;
    margin-top: 20px;
    /* background: rgb(67,235,237);
background: linear-gradient(0deg, rgba(67,235,237,1) 0%, rgba(253,223,45,0.3311449579831933) 100%); */
   
}

.SingleCardDescription{
    
    text-align: start;
    font-size: 12px;
    
}

.SingleCardCategory{
  /* text-align: start; */
  font-size: 20px;

  
}

.rating{
margin-top: 15px;
    margin-bottom: 13px;
    text-align: start;
}

.SingleCardButton{
    width: 263px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.SingleCardTitle{
    font-size: 20px;
}


