.login{
    background-color: rgb(4, 125, 200);
    color: white;
    margin-left: 196px;
    width: 405px;
    height: 40px;
    border-radius: 7px;
    border: solid;
    border-color:rgb(4, 125, 200);
}
.ForgetPass{
  color:  rgb(0, 157, 255); 
  border: none; 
  width: 405px;
  height: 40px;
  margin-left: 196px;
  background-color: white;
  border: solid;
  border-color:  white;
  border-radius: 7px;
  

}

.createAccount{
    color: white;
    background-color: rgb(89, 176, 35);
    height: 40px;
    border-radius: 7px;
    border-color: rgb(89, 176, 35) ;
    width: 200px;
    margin-left: 180px;
}

.loginform{
margin-top: -1px;
  margin-left: -73px;
 background-image: url("./backimg.jpg");
 height: 530px; 

}



/* .logincontent{
  margin-left: 20px;
  margin-left: 187px;
} */

